:root {
  --primary-font: roboto, sans-serif;
  --secondary-font: raleway, sans-serif;
  --main-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --accent-text-color: #404bbf;
  --portfolo-btn-border: #e7e9fc;
}

/* Reset */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: unset;
}
.link {
  text-decoration: none;
  color: currentColor;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Reset end */

.container {
  width: 1158px;
  padding: 0 15px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

/* base styles */
.body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.37;
  color: var(--secondary-text-color);
  background-color: white;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-text-color);
}

.section-undertitle {
  font-weight: 500;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.section-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
/* base styles end */

/* header */

.header {
  border-bottom: 1px solid #e7e9fc
}

.header-container {
  display: flex;
  align-items: center;
  
}
.nav-header{
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;

  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo {
  margin-right: 76px;
  padding: 24px 0;
}

.logo-light {
  color: var(--main-text-color);
}
.logo-dark {
  color: #f4f4fd;
}

.header-list {
  display: flex;
  gap: 40px;
  margin-right: 332px;
}
.header-item {
}
.header-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  padding: 24px 0;
  display: block;
}

.header-link:hover {
  color: var(--accent-text-color);
}
.header-link:focus {
  color: var(--accent-text-color);
}

.header-contact {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.contact-list {
  display: flex;
  gap: 40px;
}

.header-contact:hover,
.header-contact:focus {
  color: var(--accent-text-color);
}

/* hero */
.hero-section {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: url(../images/hero-section/Dark-bg.png), 
  url(../images/hero-section/people-office\ 1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.hero-head {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: white;
  display: block;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.hero-btn {
  font-family: inherit;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: white;
  background: #4d5ae5;
  cursor: pointer;
  min-width: 169px;
  min-height: 56px;
  padding: 16px 32px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  height: 56px;
  border: none;
  
}
.hero-btn:hover {
  background-color: var(--accent-text-color);
}
.hero-btn:focus {
  background-color: var(--accent-text-color);
}

/* features */
.features-title{
margin-bottom: 8px;
}
.section-features {
  padding: 120px 0;
}
.features-list {
  display: flex;
  gap: 24px;
}
.features-item {
  width: 264px;
}

/* what are  */

.what-are-section {
  padding-bottom: 120px;
}
.what-are-title{
  margin-bottom: 72px
}

.what-are-list {
  display: flex;
  gap: 24px;
  
}

.what-are-item {
  width: calc((100%- (24px * 2)) / 3);
}

/* our team */

.team-section {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-title {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;

  width: calc((100%- (24 * 3)) / 4);
}
.team-item {
  background-color: white;
}
.team-head {
  text-align: center;
  
}
.team-paragraph {
  text-align: center;
}

.team-person {
  padding: 32px 16px;
  border-radius: 0px 0px 4px 4px;
}

/* footer */
.footer-main {
  background-color: var(--main-text-color);
  padding-bottom: 100px;
  padding-top: 100px;
}

.footer-logo {
  display: inline-block;

  margin-bottom: 16px;
}
.footer-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
  display: block;
}

/* portfolio */

.portfolio-section {
  padding: 96px 0 120px

}
.portfolio-item {
  padding: 32px 16px;
  gap: 8px;
  border: 1px solid #e7e9fc;
  border-top: none;
}


/* felters */
.filter-head {
  font-size: 16px;
  line-height: 1;
}


.filters-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: nowrap;
  margin-bottom: 72px;
}
.filters-btn {
  font-family: inherit;
  border: 1px solid var( --portfolo-btn-border);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
  padding: 12px 24px;
  justify-content: center;
  box-sizing: border-box;
  flex-wrap: nowrap;
}


.filters-btn:hover {
  background-color: var(--accent-text-color);
  color: white;
  border: 1px solid transparent;
}

.filters-btn:focus {
  background-color: var(--accent-text-color);
  color: white;
  border: 1px solid transparent;
}
.row-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.row-item {
  max-width: calc((100%- (24px * 2)) / 3);
}

